.heading {
    font-size: 30px;
    font-weight: 700;
}

.subheading {
    font-size: 20px;
    color: #548095;
    font-weight: 600;
}

.color-orange {
    color: #DC8821 !important;
}

.box-quote {
    background: #5DA0B4;
    color: white;
    display: block;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}

.title-blue{
    text-transform: uppercase;
    color: #548095;
    font-weight: 600;
    margin-bottom: 0;
}

.border-blue {
    color: #5da0b4; 
    padding: 5px 0px 0px 0px; 
    border-width: 2px 0px 0px 0px; 
    border-style: solid;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.border-orange {
    color: #dc8821; 
    padding: 5px 0px 0px 0px; 
    border-width: 2px 0px 0px 0px; 
    border-style: solid;
    display: block;
}