@import 'partials/variables.scss';

body {
    font-family: brandon-grotesque, sans-serif;
    color: $dark;
}



h2 {
    font-weight: 600;
    font-size: 45px;
}

h4 {
    font-weight: 300;
    margin-bottom: 20px;
}

h5 {
    font-weight: 300;
    margin-bottom: 30px;
}

.title-blue {
    text-transform: uppercase;
    color: $dark_blue;
    font-weight: 500;
    margin-bottom: 0;
}
.bg-image {
    background-size:cover; 
    background-position:center;
    background-repeat: no-repeat;
}

.layer {
    position:absolute; 
    top:0;
    color: white;
    background: rgba(0,0,0,0.25);
}

.big-banner {
    height: 450px;
    @media (min-width:992px) {
        height: 550px;
    } 
}

.bg-gray {
    background: $ligh_gray;
}

.bg-dark {
    background: $dark;
}

.bg-black {
    background: $black;
}

.bg-white {
    background: white;
}

.bg-gray_blue {
    background: $gray_blue;
}

.bg-light_gray {
    background: $ligh_gray_2;
}

.bg-orange {
    background: $orange;
}

.bg-blue {
    background: $blue;
}

.bg-dark-blue {
    background: $dark_blue; 
}


/* Text styles */
.color-orange {
    color: $orange;
}

strong {
    font-weight: 600;
}

.box-quote {
    background: $blue;
    color: white;
    display: block;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}

.box-quote:before {
    content: '❝';
    color: $accent_orange;
    margin-right: 10px;
    font-size: 26px;
    font-weight: 400;
}

.box-quote:after {
    content: '❞';
    color: $accent_orange;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 400;
}

.link {
    border: 1px solid $dark;
    padding: 6px 18px;
    text-transform: uppercase;
    font-size: 12px;
    color: $dark;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;

    &:hover {
        background: $dark;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: white !important;
        text-decoration: none !important;
    }
}

.white {
    border: 1px solid white;
    color: white;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    font-weight: 500;

    &:hover {
        background: white;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: $dark !important;
        text-decoration: none !important;
        cursor: pointer;
    }
}


.btn-blue {
    background: $dark_blue;
    color: #fff!important;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        background: $blue;
    }
}

.btn-white {
    background-color: white;
    color: $dark;

    &:hover {
        background: $dark;
        color: white;
    }
}

@import 'partials/carousel.scss';
@import 'partials/map.scss';
@import 'partials/grid.scss';
@import 'partials/featured_posts.scss';
@import 'partials/banner.scss';
@import 'partials/boxes.scss';
@import 'partials/header.scss';
@import 'partials/latest_reports.scss';
@import 'partials/all_posts.scss';
@import 'partials/latest_reports.scss';
@import 'partials/programmes_list.scss';
@import 'partials/contact_form.scss';
@import 'partials/download_banner.scss';
@import 'partials/single_story.scss';
@import 'partials/modal_newsletter.scss';
@import 'partials/footer.scss';
    

.double-link {

    .btn-link {
        width: 100%;
        display: block;
        color: white;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 25px;
        font-weight: 500;
        text-decoration: none;
    }

    .first-link {
        background: $dark_blue;

        &:hover {
            background: $blue;
        }
        
    }

    .second-link {
        background: $dark;

        &:hover {
            background: #191919;
        }
    }
}


.list-stories {
    .story {
        height: 260px;
        position: relative;

        .layer {
            background: rgba(93, 160, 180, 0.9);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-out;

            &:hover {
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.4s ease-out;
            }

            .title {
                font-weight: 600;
                font-size: 20px;
            }

            .description {
                height: 80px;
                overflow: hidden;
                line-height: 20px;
            }
        }
    }

    .all-stories {

        cursor: pointer;

        &:hover {
            p {
                color: $blue;
            }
        }

        p {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            color: #3f3e3d;
            text-decoration: none;
            margin-bottom: 5px;
        }
        
    }
}


.list-stories-grid {
    .story {
        height: 350px;
        background: white;
        position: relative;

        .title {
            font-weight: bold;
            font-size: 20px;
        }

        p {
            line-height: 21px;
            margin-bottom: 7px;
        }

        .bg-image {
            height: 140px;
        }

        .pos-bottom {
            position: absolute;
            bottom: 20px;
        }
    }

    .story.tall {
        height: 715px;
        .bg-image {
            height: 350px;
        }
    }
}



.single-report {

    .download-btn{
        background: #5da0b4;
        color: #fff!important;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;

        img {
            height: 18px;
            vertical-align: top;
            margin-left: 10px;
        }
    }
}

.themes {
    color: white;

    .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .desc {
        font-size: 17px;
    }
    
    .box {
        p {
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0;
        }

        img {
            margin: auto;
            display: block;
            transform: scale(1);
            transition: transform 0.35s;
        }

        &:hover {
            background: $orange !important;
            cursor: pointer;

            img {
                transform: scale(1.15);
                transition: transform 0.35s ease;
            }
        }
    }
    
}




@import 'partials/single_programme.scss';

.numbers {

    .col-2 {
        position: relative;
    }

    .box {
                
        p {
            margin-bottom: 0;
            color: white;
            text-align:center;
        }

        .desc {
            font-weight: 500;
            font-size: 15px;
        }

        .num {
            font-weight: 600;
            font-size: 28px;
            margin-top: 10px;
        }

        img {
            height: 45px;
        }

        .line {
            height: 100%;
            width: 1px;
            background: white;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0.5;
        }
        
    }
}


@import 'partials/single_summary.scss';

@import 'partials/scaleup_review.scss';

@import 'partials/modules.scss';

.list-areas {

    .area {
        background: $blue;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;

        img {
            float: right;
            height: 20px;
            margin-right: 20px;
            margin-top: 2px;
        }

        &:hover {
            background: $dark_blue;
        }
    }
}

.fixed-menu {
    display: none;
}

.vacancy {
    background: white;

    button {
        background: $dark_orange;
        color: white;
        padding: 10px 20px;
        border: none;
        text-transform: uppercase;
        font-size: 13px;

        img {
            margin-left: 20px;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background: $orange;
        }
    }

    .label {
        color: black;
        margin-bottom: 0;
    }

    .info {
        margin-bottom: 0;
        color: #757575;
    }

    p {
        color: #757575;
    }
}

.people-slider {
    .person {

        img {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
        }

        p {
            text-align: center;
            margin-bottom: 5px;
            color: #757575;
        }

        a {
            text-align: center;
            cursor: pointer;
            
            &:focus {
                outline: none;
            }
        }

        .pos {
            color: $dark;
        }

        .name {
            font-weight: 500;
            color: $blue;
            text-transform: uppercase;
            font-size: 14px;
        }
    }

    .slick-prev {
        position: absolute;
        top: 50%;
        left: -50px;
        background-image: url('../../../assets/images/arrow_blue_back.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;

        &:before {
            content: "";
        }

        &:hover, &:focus {
            background-image: url('../../../assets/images/arrow_blue_back.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .slick-next {
        position: absolute;
        top: 50%;
        right: -50px;
        background-image: url('../../../assets/images/arrow_blue.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;

        &:before {
            content: "";
        }

        &:hover, &:focus {
            background-image: url('../../../assets/images/arrow_blue.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

}




@import 'partials/search.scss';

.committees .box {
    p {
        margin-bottom: 5px;
    }

    a {
        color: $blue;
    }
}

.supporters {
    .box {
        cursor: pointer;

        .info {
            height: 140px;
        }
    }
}

.modalBasic {

    .modal-dialog {

        @media (min-width: 576px){
            max-width: 850px;
        }

        .modal-content {
            position: relative;
            border-radius: 0;
            border: none;
            background: $gray_blue;

            .pos-top {
                position: absolute; 
                top: 10px;
                right: 7px;

                button {
                    background: transparent;
                    border: none;

                    img {
                        height: 35px;
                    }
                    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    
}


.copy {
    h1, h2, h3, h4, h5, h6, p, a {
        color: white;
    }

    p {
        font-size: 18px;
    }
}