@import 'partials/variables.scss';

body {
    font-family: brandon-grotesque, sans-serif;
    color: $dark;
}

h2 {
    font-weight: 600;
    font-size: 45px;
}

h4 {
    font-weight: 300;
    margin-bottom: 20px;
}

h5 {
    font-weight: 300;
    margin-bottom: 30px;
}

.bg-image {
    background-size:cover; 
    background-position:center;
    background-repeat: no-repeat;
}

.layer {
    position:absolute; 
    top:0;
    color: white;
    background: rgba(0,0,0,0.25);
}

.big-banner {
    height: 450px;
    @media (min-width:992px) {
        height: 550px;
    } 
}

#carouselBanner{
    .layer {

        h3 {
            font-weight: 600;
            font-size: 40px;
            line-height: 45px;
        }
        
        p {
            font-size: 19px;
            line-height: 24px;
        }
    }

    .carousel-indicators {
        right: 0;
        top: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        display: flex;
        flex-direction: column;

        li {
            width: 5px;
            height: 30px;
            transition: height 0.4s;
            -webkit-transition: height 0.4s;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }

        .active {
            height: 55px;
            transition: height 0.4s;
            -webkit-transition: height 0.4s;
        }
    }
}

.bg-gray {
    background: $ligh_gray;
}

.bg-dark {
    background: $dark;
}

.bg-black {
    background: #2B2B2B;
}

.slider {
    position:absolute; 
    bottom:0; 
    width:100%;
    height: 70px; 
    
    .bg-lgray {
        background: $ligh_gray;
        position: relative;
    }

    p {
        font-size: 23px;
        font-weight: 300;
        color: $dark;
        margin-bottom: 0;
    }

    img {
        height:30px; 
        width: auto;
    }

    .text-slide {
        display: none;
    }

    .slider-right {
        height: 70px;
        position: absolute;
        bottom: 0;
        width: 100%;

        .half {
            background: $ligh_gray;
            height: 100%;
        }
    }

}

.link {
    border: 1px solid $dark;
    padding: 6px 18px;
    text-transform: uppercase;
    font-size: 12px;
    color: $dark;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;

    &:hover {
        background: $dark;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: white !important;
        text-decoration: none !important;
    }
}

.white {
    border: 1px solid white;
    color: white;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    font-weight: 500;

    &:hover {
        background: white;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: $dark !important;
        text-decoration: none !important;
        cursor: pointer;
    }
}

footer {
    background: $dark;
    height: 150px;
}


@import 'partials/map.scss';
@import 'partials/grid.scss';
@import 'partials/featured_posts.scss';
@import 'partials/banner.scss';
@import 'partials/boxes.scss';
@import 'partials/header.scss';
@import 'partials/latest_reports.scss';
@import 'partials/all_posts.scss';
@import 'partials/latest_reports.scss';
@import 'partials/programmes_list.scss';


@import 'partials/contact_form.scss';
@import 'partials/download_banner.scss';
@import 'partials/single_story.scss';
@import 'partials/modal_newsletter.scss';

    

.double-link {

    .btn-link {
        width: 100%;
        display: block;
        color: white;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 25px;
        font-weight: 500;
        text-decoration: none;
    }

    .first-link {
        background: #D8D8D8;

        &:hover {
            background: #868686;
        }
        
    }

    .second-link {
        background: $dark;

        &:hover {
            background: #191919;
        }
    }
}




.list-stories {
    .story {
        height: 350px;
        background: white;
        position: relative;

        .title {
            font-weight: bold;
            font-size: 20px;
        }

        p {
            line-height: 21px;
            margin-bottom: 7px;
        }

        .bg-image {
            height: 140px;
        }

        .pos-bottom {
            position: absolute;
            bottom: 20px;
        }
    }

    .story.tall {
        height: 715px;
        .bg-image {
            height: 350px;
        }
    }
}



.single-report {

    .download-btn{
        background: #5da0b4;
        color: #fff!important;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;

        img {
            height: 18px;
            vertical-align: top;
            margin-left: 10px;
        }
    }
}

.themes {
    color: white;

    .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .desc {
        font-size: 17px;
    }
    
    .box {
        p {
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0;
        }

        img {
            margin: auto;
            display: block;
        }

        &:hover {
            background: $orange !important;
        }
    }
    
}


