@import 'partials/variables.scss';

body {
    font-family: brandon-grotesque, sans-serif;
    color: $dark;
}



h2 {
    font-weight: 600;
    font-size: 45px;
}

h4 {
    font-weight: 300;
    margin-bottom: 20px;
}

h5 {
    font-weight: 300;
    margin-bottom: 30px;
}

.title-blue {
    text-transform: uppercase;
    color: $dark_blue;
    font-weight: 500;
    margin-bottom: 0;
}

.title-blue-lowercase {
    color: $blue;
    font-weight: 500;
    margin-bottom: 0;
}

.border-blue {
    color: #5da0b4; 
    padding: 5px 0px 0px 0px; 
    border-width: 2px 0px 0px 0px; 
    border-style: solid;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.border-orange {
    color: #dc8821; 
    padding: 5px 0px 0px 0px; 
    border-width: 2px 0px 0px 0px; 
    border-style: solid;
    display: block;
}


.bg-image {
    background-size:cover; 
    background-position:center;
    background-repeat: no-repeat;
}

.layer {
    position:absolute; 
    top:0;
    color: white;
    background: rgba(0,0,0,0.25);
}

.big-banner {
    height: 450px;
    @media (min-width:992px) {
        height: 550px;
    } 
}

.bg-gray {
    background: $ligh_gray;
}

.bg-dark {
    background: $dark;
}

.bg-black {
    background: $black;
}

.bg-white {
    background: white;
}

.bg-gray_blue {
    background: $gray_blue;
}

.bg-light_gray {
    background: $ligh_gray_2;
}

.bg-orange {
    background: $orange;
}

.bg-blue {
    background: $blue;
}

.bg-dark-blue {
    background: $dark_blue; 
}


/* Text styles */
.color-orange {
    color: $orange;
}

strong {
    font-weight: 600;
}

.box-quote {
    background: $blue;
    color: white;
    display: block;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}

.box-quote:before {
    content: '❝';
    color: $accent_orange;
    margin-right: 10px;
    font-size: 26px;
    font-weight: 400;
}

.box-quote:after {
    content: '❞';
    color: $accent_orange;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 400;
}

.link {
    border: 1px solid $dark;
    padding: 6px 18px;
    text-transform: uppercase;
    font-size: 12px;
    color: $dark;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;

    &:hover {
        background: $dark;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: white !important;
        text-decoration: none !important;
    }
}

.white {
    border: 1px solid white;
    color: white;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    font-weight: 500;

    &:hover {
        background: white;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: $dark !important;
        text-decoration: none !important;
        cursor: pointer;
    }
}


.btn-blue {
    background: $blue;
    color: #fff!important;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        background: $dark_blue;
    }
}

.btn-white {
    background-color: white;
    color: $dark;

    &:hover {
        background: $dark;
        color: white;
    }
}

.double-link {

    .btn-link {
        width: 100%;
        display: block;
        color: white;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 25px;
        font-weight: 500;
        text-decoration: none;
    }

    .first-link {
        background: $dark_blue;

        &:hover {
            background: $blue;
        }
        
    }

    .second-link {
        background: $dark;

        &:hover {
            background: #191919;
        }
    }
}

.btn-icon{
    height: 18px;
    vertical-align: sub;
    margin-left: 10px;
}

@import 'partials/carousel.scss';
@import 'partials/map.scss';
@import 'partials/grid.scss';
@import 'partials/featured_posts.scss';
@import 'partials/banner.scss';
@import 'partials/boxes.scss';
@import 'partials/header.scss';
@import 'partials/latest_reports.scss';
@import 'partials/all_posts.scss';
@import 'partials/latest_reports.scss';
@import 'partials/programmes_list.scss';
@import 'partials/contact_form.scss';
@import 'partials/download_banner.scss';
@import 'partials/single_story.scss';
@import 'partials/modal_newsletter.scss';
@import 'partials/footer.scss';
@import 'partials/stories.scss';   
@import 'partials/themes.scss';
@import 'partials/single_programme.scss';
@import 'partials/numbers.scss';
@import 'partials/single_summary.scss';
@import 'partials/scaleup_review.scss';
@import 'partials/modules.scss';
@import 'partials/vacancy.scss';
@import 'partials/search.scss';
@import 'partials/people.scss';
@import 'partials/form_banner.scss';
@import 'partials/modal_basic.scss';

.single-report {

    .download-btn{
        background: #5da0b4;
        color: #fff!important;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;

        img {
            height: 18px;
            vertical-align: top;
            margin-left: 10px;
        }
    }
}

.committees .box {
    p {
        margin-bottom: 5px;
    }

    a {
        color: $blue;
    }
}

.supporters {
    .box {
        cursor: pointer;

        .info {
            height: 140px;
        }
    }
}

.copy {
    h1, h2, h3, h4, h5, h6, p, a, li {
        color: white;
    }

    p, li {
        font-size: 18px;
    }
}

#response-ambassadors{
    min-height: 250px;
}

@import 'partials/infographic.scss';



/* Table */

table { 
	border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: white; 
}

th { 
	background: #eee;
    color: #343a40;
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 16px;
}

@media only screen and (max-width: 760px) {

	table { 
	  	width: 100%; 
	}
	
    tr:nth-of-type(odd) { 
	    background: #eee; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc; 
    }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 35%; 
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

}

#businesses-results {

    h3 {
        color: $blue;
        font-size: 35px;
        font-weight: 600;
    }

    .aggregated-data {

        p {
            text-align: center;
            margin-bottom: 0;
        }
        
        .value {
            font-size: 38px;
            font-weight: 300;
            min-height: 57px;
            color: $dark;
        }
    }


    table {

        display: none;
        width: 100%;

        th {
            color: $blue;
            text-align: center;
            background: $gray_blue;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            padding: 5px;
            border: none;
        }

        td {
            text-align: center;
            background: white;
            font-size: 15.5px;
            border: none;
            padding: 15px 10px;
        }

        .number {
            font-size: 15px;
        }

        tr {
            border-bottom: 8px solid $gray_blue;
        }

        .name {
            text-align: left;
            font-size: 15.5px;
            font-weight: 500;
            padding: 15px 15px;
        }
    }
}


.businesses-finder {
    min-height: 500px;

    h3 {
        color: $blue;
        font-size: 35px;
        font-weight: 600;
    }


    #scaleups_form {
        .btn-sectors {
            border: 1px solid white;
            border-radius: 0;
            padding: 5px;
            padding-left: 8px;
            background-color: white;
            height: 36px;
            background-image:  url(../../images/more.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 98%;
            background-size: 21px;
            cursor: pointer;
            color: $dark;
            overflow-x: hidden;
            line-height: 30px;
        }

        select {
            background: white;
            border: 1px solid white;
            border-radius: 0;
            appearance: none;
            -webkit-appearance: none;
            padding: 5px;
            padding-left: 8px;
            background-image:  url(../../images/select-arrow.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 98%;
            background-size: 18px;
            color: $dark;

            &:focus {
                outline: $blue auto 5px;
            }
        }

        .submit-search{
            background: $blue;
            color: white;
            padding: 6px 30px;
            border: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background: $dark_blue;
            }

            &:focus {
                outline: none;
            }
        }
    }
    
}


.modal-dialog {

    @media (min-width: 576px){
        max-width: 770px;
        
    }

    .modal-content {
        border: none;
        border-radius: 0;
    }

    .modal-body {
        
        padding: 20px 30px;

        h3 {
            color: $blue;
        }

        .close-form {
            padding: 10px 10px;
            line-height: 11px;
            font-size: 34px;

            img {
                height: 35px;
            }
        }

        .innerModal {
            height: 405px;
            overflow: scroll;
            margin-left: -8px;

            .sectorList .sectorItem.child .collapsable:before  {
                content: none;
            }
            
            .sectorList .sectorList {
                margin-left: 20px;
            }
             
            .sectorItem {
                margin-left: 10px;
            }
             
            .collapsable {
                margin-left: 14px;
                cursor: pointer;
            }
            .collapsable:before {
                content: " ▶ ";
                margin-right: 8px;
                color: $dark;
                cursor: pointer;
            }
            .down:before {
                content: " ▼ ";
                font-size: 14.5px;
                cursor: pointer;
            }
        }
    }

    .modal-footer {
        padding: 12px 20px;
        .confirm-sectors{
            background: $dark_orange;
            color: white;
            padding: 6px 30px;
            border: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background: $orange;
            }

            &:focus {
                outline: none;
            }
        }
    }
    
    input[type=checkbox]{
        height: 21px;
        cursor: pointer;
    }

    input[type=checkbox]:before {
        content: '✓';
        background: white;
        color: white;
        border: 1px solid $blue;
        padding: 0px 4px;
        font-weight: 300;
        font-size: 12.5px;
        border-radius: 3px;
    }

    input:checked:before {
        content: '✓';
        background: $blue;
        border: 1px solid $blue;
        color: white;
        padding: 0px 4px;
        font-weight: 300;
        font-size: 12.5px;
        border-radius: 3px;
    }
  
}

