@import 'partials/variables.scss';

body {
    font-family: brandon-grotesque, sans-serif;
    color: $dark;
}



h2 {
    font-weight: 600;
    font-size: 45px;
}

h4 {
    font-weight: 300;
    margin-bottom: 20px;
}

h5 {
    font-weight: 300;
    margin-bottom: 30px;
}

.title-blue {
    text-transform: uppercase;
    color: $dark_blue;
    font-weight: 500;
    margin-bottom: 0;
}

.title-blue-lowercase {
    color: $blue;
    font-weight: 500;
    margin-bottom: 0;
}

.border-blue {
    color: #5da0b4; 
    padding: 5px 0px 0px 0px; 
    border-width: 2px 0px 0px 0px; 
    border-style: solid;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.border-orange {
    color: #dc8821; 
    padding: 5px 0px 0px 0px; 
    border-width: 2px 0px 0px 0px; 
    border-style: solid;
    display: block;
}


.bg-image {
    background-size:cover; 
    background-position:center;
    background-repeat: no-repeat;
}

.layer {
    position:absolute; 
    top:0;
    color: white;
    background: rgba(0,0,0,0.25);
}

.big-banner {
    height: 450px;
    @media (min-width:992px) {
        height: 550px;
    } 
}

.bg-gray {
    background: $ligh_gray;
}

.bg-dark {
    background: $dark;
}

.bg-black {
    background: $black;
}

.bg-white {
    background: white;
}

.bg-gray_blue {
    background: $gray_blue;
}

.bg-light_gray {
    background: $ligh_gray_2;
}

.bg-orange {
    background: $orange;
}

.bg-blue {
    background: $blue;
}

.bg-dark-blue {
    background: $dark_blue; 
}


/* Text styles */
.color-orange {
    color: $orange;
}

strong {
    font-weight: 600;
}

.box-quote {
    background: $blue;
    color: white;
    display: block;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}

.box-quote:before {
    content: '❝';
    color: $accent_orange;
    margin-right: 10px;
    font-size: 26px;
    font-weight: 400;
}

.box-quote:after {
    content: '❞';
    color: $accent_orange;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 400;
}

.link {
    border: 1px solid $dark;
    padding: 6px 18px;
    text-transform: uppercase;
    font-size: 12px;
    color: $dark;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;

    &:hover {
        background: $dark;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: white !important;
        text-decoration: none !important;
    }
}

.white {
    border: 1px solid white;
    color: white;
    background: transparent;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    font-weight: 500;

    &:hover {
        background: white;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        color: $dark !important;
        text-decoration: none !important;
        cursor: pointer;
    }
}


.btn-blue {
    background: $blue;
    color: #fff!important;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        background: $dark_blue;
    }
}

.btn-white {
    background-color: white;
    color: $dark;

    &:hover {
        background: $dark;
        color: white;
    }
}

.double-link {

    .btn-link {
        width: 100%;
        display: block;
        color: white;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 25px;
        font-weight: 500;
        text-decoration: none;
    }

    .first-link {
        background: $dark_blue;

        &:hover {
            background: $blue;
        }
        
    }

    .second-link {
        background: $dark;

        &:hover {
            background: #191919;
        }
    }
}

.btn-icon{
    height: 18px;
    vertical-align: sub;
    margin-left: 10px;
}

@import 'partials/carousel.scss';
@import 'partials/map.scss';
@import 'partials/grid.scss';
@import 'partials/featured_posts.scss';
@import 'partials/banner.scss';
@import 'partials/boxes.scss';
@import 'partials/header.scss';
@import 'partials/latest_reports.scss';
@import 'partials/all_posts.scss';
@import 'partials/latest_reports.scss';
@import 'partials/programmes_list.scss';
@import 'partials/contact_form.scss';
@import 'partials/download_banner.scss';
@import 'partials/single_story.scss';
@import 'partials/modal_newsletter.scss';
@import 'partials/footer.scss';
@import 'partials/stories.scss';   
@import 'partials/themes.scss';
@import 'partials/single_programme.scss';
@import 'partials/numbers.scss';
@import 'partials/single_summary.scss';
@import 'partials/scaleup_review.scss';
@import 'partials/modules.scss';
@import 'partials/vacancy.scss';
@import 'partials/search.scss';
@import 'partials/people.scss';
@import 'partials/form_banner.scss';
@import 'partials/modal_basic.scss';

.single-report {

    .download-btn{
        background: #5da0b4;
        color: #fff!important;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;

        img {
            height: 18px;
            vertical-align: top;
            margin-left: 10px;
        }
    }
}

.committees .box {
    p {
        margin-bottom: 5px;
    }

    a {
        color: $blue;
    }
}

.supporters {
    .box {
        cursor: pointer;

        .info {
            height: 140px;
        }
    }
}

.copy {
    h1, h2, h3, h4, h5, h6, p, a, li {
        color: white;
    }

    p, li {
        font-size: 18px;
    }
}

#response-ambassadors{
    min-height: 250px;
}

@import 'partials/infographic.scss';



/* Table */

table { 
	border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: white; 
}

th { 
	background: #eee;
    color: #343a40;
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 16px;
}

@media only screen and (max-width: 760px) {

	table { 
	  	width: 100%; 
	}
	
    tr:nth-of-type(odd) { 
	    background: #eee; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc; 
    }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 35%; 
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

}


@import 'partials/business_results.scss';
@import 'partials/business_finder.scss';

.title-nav {

    opacity: 0;
    
    .label {
        text-transform: uppercase;
        color: $blue;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 6px;
    }

    h3 {
        color: $blue;
        font-weight: 600;
        font-size: 35px;
    }

    .btn-orange {
        background: $orange;
        color: #fff!important;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;

        &:hover {
            background: $dark_orange;
        }
    }

    .btn-orange img{
        height: 12px;
        margin-left: 10px;
        margin-top: -4px;
    }

    .btn-blue img {
        height: 12px;
        margin-right: 10px;
        margin-top: -1px;
    }
}

.highlights {

    height:223px;
    
    h4 {
        color: white;
        font-weight: 500;
        opacity: 0;
    }

    .highlight {
        width: 200px;
        opacity: 0;
    }
    p {
        text-align: center;
        color: white;
        margin-bottom: 0;
    }

    .desc {
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 7px;
    }

    .num {
        font-size: 45px;
        font-weight: 300;
        height: 67px;
    }

    .fas {
        font-size: 20px;
    }
}

.info-company {

    opacity: 0;

    a {
        color: $blue;

        &:hover {
            text-decoration: none;
            color: $dark_blue;
        }
    }

    h5 {
        color: $blue;
        font-weight: 500;
    }

    .label {
        font-weight: 500;
        margin-top: 20px;
    }

    .person_name {
        font-weight: 500;
        margin-top: 10px;
    }

    p {
        margin-bottom: 0;
        color: #707070;
    }

    table {

        background: #edf0f3;
        width: 90%;
        color: #707070;
        opacity: 0;

        th {
            color: $blue;
            text-align: center;
            background: #edf0f3;;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            padding: 5px;
            border: none;
        }

        td {
            text-align: center;
            background: white;
            font-size: 15.5px;
            border: none;
            padding: 15px 10px;
        }

        .number {
            font-size: 15px;
        }

        tr {
            border-bottom: 8px solid #edf0f3;
        }

        .name {
            text-align: left;
            font-size: 15.5px;
            font-weight: 500;
            padding: 15px 15px;
            width: 25%;
        }
    }
}
