@import 'partials/variables.scss';

.banner {
    height: 370px;

    .title {
        font-size: 35px;
        line-height: 35px;
        font-weight: 500;
    }

    .description {
        font-size: 17.5px;
    }
     
    a {
        padding: 8px 20px;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
        text-decoration: none;
        margin-right: 10px;
    }

    .btn-blue {
        background-color: $dark_blue;
        color: white;

        &:hover {
            background: white;
            color: $blue;
        }
    }

    .btn-white {
        background-color: white;
        color: $dark;

        &:hover {
            background: $dark;
            color: white;
        }
    }
}