@import 'partials/variables.scss';

#boxes {

    .box {
        height: 350px;
        color: white;
        text-align: center;
        position: relative;

        p {
            font-size: 18px;
        }
    }

    .thumbnail-img  {
        height: 170px;
        position: relative;
        transition: transform 0.5s;
            transform: scale(1);
            -webkit-transform: transform (1);

        &:hover {
            transition: transform 0.5s;
            transform: scale(1.15);
            -webkit-transform: transform (1.15);
            cursor: pointer;
        }
    }

    .pos-bottom {
        position: absolute;
        bottom: 25px;
    }

    .layer-img {
        background:rgba(63, 62, 61, 0.7);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;

        p {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
        }
    }

}