
@import 'variables.scss';

.pos-form {
    position: absolute; 
    top:0; 
    left: 15px;

    @media (min-width: 576px){
        left: calc((100% - 540px) / 2);
    }

    @media (min-width: 768px){
        left: calc((100% - 720px) / 2);
    }

    @media (min-width: 992px){
        left: calc((100% - 960px) / 2);
    }

    @media (min-width: 1200px){
        left: calc((100% - 1140px) / 2);
    }
}

.pos-key {
    position: absolute; 
    right: 90px; 
    top: 10px; 
    background: white;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

    .key {
        img {
            height: 24px;
        }
    
        p {
            margin-bottom: 0px;
            margin-left: 10px;
            font-size: 13.5px;
            line-height: 24px;
            display: inline;
        }
    }
}

.businesses-finder {
    min-height: 500px;

    h3 {
        color: $blue;
        font-size: 35px;
        font-weight: 600;
    }


    #scaleups_form {
        .btn-sectors {
            border: 1px solid white;
            border-radius: 0;
            padding: 5px;
            padding-left: 8px;
            background-color: white;
            height: 36px;
            background-image:  url(../../images/more.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 98%;
            background-size: 21px;
            cursor: pointer;
            color: $dark;
            overflow-x: hidden;
            line-height: 30px;
        }

        select {
            background: white;
            border: 1px solid white;
            border-radius: 0;
            appearance: none;
            -webkit-appearance: none;
            padding: 5px;
            padding-left: 8px;
            background-image:  url(../../images/select-arrow.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 98%;
            background-size: 18px;
            color: $dark;
            width: 380px;

            &:focus {
                outline: $blue auto 5px;
            }
        }

        .submit-search{
            background: $blue;
            color: white;
            padding: 6px 30px;
            border: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background: $dark_blue;
            }

            &:focus {
                outline: none;
            }
        }
    }
    
}


.modal-dialog {

    @media (min-width: 576px){
        max-width: 770px;
        
    }

    .modal-content {
        border: none;
        border-radius: 0;
    }

    .modal-body {
        
        padding: 20px 30px;

        h3 {
            color: $blue;
        }

        .close-form {
            padding: 10px 10px;
            line-height: 11px;
            font-size: 34px;

            img {
                height: 35px;
            }
        }

        .innerModal {
            height: 405px;
            overflow: scroll;
            margin-left: -8px;

            .sectorList .sectorItem.child .collapsable:before  {
                content: none;
            }
            
            .sectorList .sectorList {
                margin-left: 20px;
            }
             
            .sectorItem {
                margin-left: 10px;
            }
             
            .collapsable {
                margin-left: 14px;
                cursor: pointer;
            }
            .collapsable:before {
                content: " ▶ ";
                margin-right: 8px;
                color: $dark;
                cursor: pointer;
            }
            .down:before {
                content: " ▼ ";
                font-size: 14.5px;
                cursor: pointer;
            }
        }
    }

    .modal-footer {
        padding: 12px 20px;
        .confirm-sectors{
            background: $dark_orange;
            color: white;
            padding: 6px 30px;
            border: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background: $orange;
            }

            &:focus {
                outline: none;
            }
        }
    }
    
    input[type=checkbox]{
        height: 21px;
        cursor: pointer;
    }

    input[type=checkbox]:before {
        content: '✓';
        background: white;
        color: white;
        border: 1px solid $blue;
        padding: 0px 4px;
        font-weight: 300;
        font-size: 12.5px;
        border-radius: 3px;
    }

    input:checked:before {
        content: '✓';
        background: $blue;
        border: 1px solid $blue;
        color: white;
        padding: 0px 4px;
        font-weight: 300;
        font-size: 12.5px;
        border-radius: 3px;
    }
  
}

