@import 'partials/variables.scss';

.download {
    
    height:200px;
    position: relative;

    .overlay {
        opacity: 0;
        position: absolute; 
        top: 0; 
        background: linear-gradient(to right, rgba(255,255,255,0.1) 25%, transparent 100%);
        width: 100%; 
        height:100%;
        transition: opacity 0.4s;
    }

    p {
        margin-bottom: 0;
        color: white;
        font-size: 28px;
        font-weight: 300;
    }

    &:hover {
        cursor: pointer;

        .overlay {
            background: linear-gradient(to right, rgba(255,255,255,0.1) 35%, transparent 100%);
            opacity: 1;
            transition: opacity 0.4s;
        }
    }

}
