@import 'partials/variables.scss';

#featured_posts {

    .box {
        background: white;
        height: 390px;
        text-align: center;

        .title {
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
        }

        .description {
            font-size: 15px;
        }

        .thumbnail {
            height: 170px;
            transform: scale(1);
            transition: transform 0.4s;
            -webkit-transition: transform 0.4s; 

            &:hover {
                transform: scale(1.1);
                transition: transform 0.4s;
                -webkit-transition: transform 0.4s; 
                cursor: pointer;
            }
        }

        .pos-bottom {
            position: absolute;
            bottom: 20px;
        }

        .pos-top {
            position: absolute;
            top: 0;
            background: $dark;
            padding: 15px;
            padding: 7px;
            z-index: 2;

            p {
                margin: 0;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                color: white !important;
            }
        }
    }

    .pd-box {
        @media (min-width:992px){
            padding-left: .5rem!important;
            padding-right: .5rem!important;
        }
    }

    .pd-first-box {
        @media (min-width: 992px){
            padding-left: 1rem!important;
        }
    }

    .pd-last-box {
        @media (min-width:992px){
            padding-right: 1rem!important;
        } 
    }
}
