@import 'variables.scss';

.form-banner {
    color: white;

    .title {
        font-size: 38px;
        line-height: 37px;
        font-weight: 500;
        margin-bottom: 20px;
        
        p {
            margin: 3px;
        }
    }
    .description {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 25px;
    }

    select {
        width: 100%;
        margin: 4px 0;
        height: 38px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 2px;
        padding-left: 12px;
        background-color: white;
        background-image: url(../../images/select-arrow.png);
        background-position-x: 95%;   
        background-position-y: center;         
        background-size: 20px 12px;
        background-repeat: no-repeat;

        @media (min-width:992px){
            width: 80%;
        }

        &:focus {
            outline: none;
        }
    }

    .submit-search{
        background: $dark_blue;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        border: none;
        padding: 7px 18px;
        margin-top: 20px;
        display: block;

        img {
            height: 13px;
            margin-left: 10px;
            margin-top: -4px;
        }

        &:hover {
            background: $blue;
        }

        &:focus {
            outline: none;
        }
    }

    .submit-search.dark {
        background: $dark_blue;

        &:hover {
            background: $orange;
        }
    }
}