@import 'partials/variables.scss';

#grid {
    color: white;

    .box-200 {
        height:250px;
        position: relative;

        .overlay {
            opacity: 0;
            position: absolute; 
            top: 0; 
            background: linear-gradient(to right, transparent 35%, rgba(255,255,255,0.1) 100%);
            width: 100%; 
            height:100%;
            transition: opacity 0.4s;
        }

        &:hover {
    
            .overlay {
                background: linear-gradient(to right, transparent 35%, rgba(255,255,255,0.1) 100%);
                opacity: 1;
                transition: opacity 0.4s;
            }
        }
    }

    .box-400 {
        height: 400px;
    }

    .title {
        font-size: 33px;
        font-weight: 500;
    }
    
    p {
        margin: 0;
    }

    .arrow {
        position: absolute;
        bottom: 0;
        right: -10px;
        transform: scale(1);
        -webkit-transition: transform 0.2s; 
        transition: transform 0.2s;
    }

    .link-box{

        height:80px; 

        .link-title {
            font-size: 20px;
            font-weight: 500;
        }
    
        .link-description {
            font-size: 16px;
            font-weight: 400;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.95;

            .arrow {
                transform: scale(1.3);
                -webkit-transition: transform 0.2s; 
                transition: transform 0.2s;
            }
          
        }
    
    }
}