@import 'partials/variables.scss';

#grid {
    color: white;

    .box-200 {
        height:250px;
    }

    .box-400 {
        height: 400px;
    }

    .title {
        font-size: 33px;
        font-weight: 500;
    }
    
    p {
        margin: 0;
    }

    .arrow {
        position: absolute;
        bottom: 0;
        right: -10px;
        transform: scale(1);
        -webkit-transition: transform 0.2s; 
        transition: transform 0.2s;
    }

    .link-box{

        height:80px; 

        .link-title {
            font-size: 20px;
            font-weight: 500;
        }
    
        .link-description {
            font-size: 16px;
            font-weight: 400;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.95;

            .arrow {
                transform: scale(1.3);
                -webkit-transition: transform 0.2s; 
                transition: transform 0.2s;
            }
          
        }
    
    }
}