@import 'partials/variables.scss';

header {

    .navbar {

        .custom-link {

            .nav-link {
                color: $dark !important;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 500;
                padding: 0 !important;
                margin: 0 !important;
            }
    
            .line {
                height: 2px;
                width: 0%;
                background: $orange;
            }
        }

        .active {
            .line {
                width: 100% !important;
            }
        }

    }

    .login-btn {
        background: $blue;
        color: white !important;
        padding: 4px 20px;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
    }
    

    .fab {
        font-size: 20px;
        color: $dark;

        &:hover {
            transition: transform 0.4s;
            transform: rotateZ(360deg);
            -webkit-transform: rotateZ(360deg);
        }
    }
}

.overLink {
    animation: increaseWidth 0.3s ease-in-out 0.1s forwards;
}

.leaveLink {
    animation: decreaseWidth 0.2s ease-in-out forwards;
}

@keyframes increaseWidth {
    0%   {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes decreaseWidth {
    0%   {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}