@import 'partials/variables.scss';

#latest_reports {

    .report {
        height: 200px; 
        width:100%; 

        .content {
            background: $blue; 
            height:160px; 
            width:100%;
            text-align: center;
            color: white;

            p {
                margin: 0;
            }

            .title {
                font-size: 19px;
                font-weight: 500;    
            }

            .date {
                font-size: 14px;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            .pos-bottom {
                position: absolute;
                bottom: 20px;
            }
        }
    }
}