@import 'partials/variables.scss';

.modalBasic {

    .modal-dialog {

        @media (min-width: 576px){
            max-width: 850px;
        }

        .modal-content {
            position: relative;
            border-radius: 0;
            border: none;
            background: $gray_blue;

            .pos-top {
                position: absolute; 
                top: 10px;
                right: 7px;

                button {
                    background: transparent;
                    border: none;

                    img {
                        height: 35px;
                    }
                    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    
}