@import 'partials/variables.scss';

.module-content {
    
    .heading {
        font-size: 35px;
        font-weight: 600;
    }

    .subheading {
        font-size: 20px;
        color: $dark-blue;
        font-weight: 500;
    }
}

.module-content-collection {

    .content-box {
        color: white;
        height: 410px;
        font-weight: 300;
        line-height: 22px;
        position: relative;

        .title {
            font-size: 19px;
            font-weight: 500;
        }

        .pos-bottom{
            position: absolute;
            bottom: 20px;
        }
    }

    .dark-colour {
        color: $dark;
    }

    .content-piece {
        display: none;
    }
}

.module-content-piece, .module-content-collection {

    .content-piece {
        background: white;
        position: relative;
       
        .top {
            height: 145px;

            .icon-bg {
                height:100px; 
                margin-right:30px;
            }
        }
    
        .title-heading {
            //color: white;
            font-size: 25px;
            margin-bottom: 10px;
            font-weight: 500;
        }
    
        .title-subheading {
            font-weight: 500;
            line-height: 22px;
            font-size: 15px;
        }

        .heading {
            font-size: 35px;
            font-weight: 600;
        }
    
        .subheading {
            font-size: 20px;
            color: $dark-blue;
            font-weight: 500;
            line-height: 24px;
        }

        .pos-top{
            position: absolute;
            top: 8px;
            right: 5px;

            .close-content {
                background: none;
                border: none;
                appearance: none;
                -webkit-appearance: none;

                &:focus {
                    outline: none;
                }

                img {
                    height: 28px;
                }
            }
        }
    }
}

.module-chart {

    hr {
        border-top: 1px solid $dark_blue;
        margin-bottom: 15px;
        margin-top: 0;
    }

    h5 {
        font-weight: 500;
        color: $dark_blue;
        font-size: 14px;
        margin-bottom: 25px;
    }

    img {
        max-height: 350px;
    }

    .footnote {
        font-size: 15px;
        margin-top: 12px;
    }
}

.module-graphic {

    h3 {
        font-weight: 600;
    }

    h4 {
        color: $orange;
        font-weight: 500;
    }

    hr {
        border-top: 1px solid $orange;
        margin-bottom: 25px;
        margin-top: 0;
    }

    img {
        margin-bottom: 15px;
    }
    .footnote {
        font-size: 14px;
        font-weight: 500;
        color: $black;
    }
}

.module-infographic {
    
    img {
        width: 75%;
    }
}

.module-icons {

    .title {
        font-size: 14px;
        font-weight: 500;
        color: $dark-blue;
        margin-bottom: 20px;
    }

    img {
        max-height: 110px;
        max-width: 100%;
    }

    p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }
}

.module-quote {

    .quote {
        border-left: 1px solid $dark;
        font-weight: 500;
    }
}

.module-footnote {
    font-size: 15px;

    .reference {
        font-weight: 500;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 20px;
        border-top: 1px solid $dark;
    }
}