@import 'partials/variables.scss';

/* Custom padding */

.px-45 {

    padding-right: 1rem!important;
    padding-left: 1rem!important;

    @media (min-width:992px){
        padding-right: 2.3rem!important;
        padding-left: 2.3rem!important;
    }
}

.module-content, .module-content-collection, .module-content-piece, .module-exemplar {
    p {
        font-size: 18px;
        @media (min-width:992px) {
            font-size: 16px;
        }
    }

    a {
        color: $dark_blue;
    }
}

.module-content {

    h1 {
        font-size: 2rem;

        @media (min-width:992px) {
            font-size: 2.5rem;
        }
    }

    h2 {
        text-transform: uppercase;
        color: $dark_blue;
        font-weight: 500;
        margin-bottom: 0;
    }
    
    .heading{
        font-size: 35px;
        font-weight: 600;
        line-height: 38px;
    }

    .subheading {
        font-size: 20px;
        color: $dark-blue;
        font-weight: 500;
        line-height: 26px;
    }
}

.module-content-collection {

    min-height: 700px;

    .content-box {
        color: white;
        height: 410px;
        font-weight: 300;
        line-height: 22px;
        position: relative;

        a {
            color: white;
        }

        .title {
            font-size: 19px;
            font-weight: 500;
        }

        .pos-bottom{
            position: absolute;
            bottom: 20px;
        }
    }

    .dark-colour {
        a, p {
            color: $dark;
        }
    }

    .content-piece {
        display: none;
    }
}

.module-content-piece, .module-content-collection {

    .content-piece {
        background: white;
        position: relative;
       
        .top {
            //height: 145px;

            .icon-bg {
                height:90px; 
                margin-right:30px;
            }
        }
    
        .title-heading {
            //color: white;
            font-size: 25px;
            margin-bottom: 10px;
            font-weight: 500;
        }
    
        .title-subheading {
            font-weight: 500;
            line-height: 22px;
            font-size: 15px;
        }

        .heading {
            font-size: 35px;
            font-weight: 600;
            line-height: 38px;
        }
    
        .subheading {
            font-size: 20px;
            color: $dark-blue;
            font-weight: 500;
            line-height: 24px;
        }

        .pos-top{
            position: absolute;
            top: 8px;
            right: 5px;

            .close-content {
                background: none;
                border: none;
                appearance: none;
                -webkit-appearance: none;

                &:focus {
                    outline: none;
                }

                img {
                    height: 28px;
                }
            }
        }
    }
}

.module-chart {

    hr {
        border-top: 1px solid $dark_blue;
        margin-bottom: 15px;
        margin-top: 0;
    }

    h5 {
        font-weight: 500;
        color: $dark_blue;
        font-size: 14px;
        margin-bottom: 25px;
    }

    img {
        max-height: 350px;
        max-width: 100%;
    }

    .footnote {
        font-size: 15px;
        margin-top: 12px;
    }
}

.module-graphic {

    h3 {
        font-weight: 600;
    }

    h4 {
        color: $orange;
        font-weight: 500;
    }

    hr {
        border-top: 1px solid $orange;
        margin-bottom: 25px;
        margin-top: 0;
    }

    img {
        margin-bottom: 15px;
        max-width: 100%;
    }

    .footnote {
        font-size: 14px;
        font-weight: 500;
        color: $black;
    }
}

.module-infographic {
    
    img {

        max-width: 100%;

        @media (min-width: 992px){
            width: 75%;
        }
    }
}

.module-icons {

    .title {
        font-size: 14px;
        font-weight: 500;
        color: $dark-blue;
        margin-bottom: 20px;
    }

    img {
        max-height: 110px;
        max-width: 100%;
    }

    p {
        margin-top: 10px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        text-align: center;
    }
}

.module-quote {

    /*
    .quote {
        border-left: 1px solid $dark;
        font-weight: 500;
    } */

    .quote-cont {
        color: white;
        

        .quote {
            display: block;
            font-weight: 400;
            line-height: 23px;
            font-weight: 500;
            font-size: 18px;
        }

        .quote:before {
            content: '❝';
            color: $accent_orange;
            margin-right: 10px;
            font-size: 26px;
            
        }
        
        .quote:after {
            content: '❞';
            color: $accent_orange;
            margin-left: 10px;
            font-size: 26px;
            font-weight: 400;
        }

        .author, .company {
            margin-bottom: 0;
        }
    
    }
    
}

.module-footnote {
    font-size: 15px;

    .reference {
        font-weight: 500;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 20px;
        border-top: 1px solid $dark;
    }
}

.module-areas {

    min-height: 750px;

    #response-area {
        display: none;
    }

    .list-areas {

        .area {
            background: $blue;
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            cursor: pointer;
            height: 55px;
    
            img {
                float: right;
                height: 20px;
                margin-right: 20px;
                margin-top: 2px;
            }
    
            &:hover {
                background: $dark_blue;
            }
        }
    }
   
}

.module-exemplar {
    color: white;

    .heading {
        text-transform: uppercase;
    }
}

.module-sectors {

    .label {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .key-sectors {

        p {
            margin-bottom: 0;
            margin-right: 25px;
        }

        img {
            height: 55px;
            margin-right: 3px;
        }
    }
}