@import 'variables.scss';

.person {

    height: 420px;

    img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }

    p {
        text-align: center;
        margin-bottom: 5px;
        color: #757575;
    }

    a {
        text-align: center;
        cursor: pointer;
        
        &:focus {
            outline: none;
        }
    }

    .pos {
        color: $dark;
    }

    .name {
        font-weight: 500;
        color: $blue;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.people-slider {

    .slick-prev {
        position: absolute;
        top: 50%;
        left: -50px;
        background-image: url('../../../assets/images/arrow_blue_back.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;

        &:before {
            content: "";
        }

        &:hover, &:focus {
            background-image: url('../../../assets/images/arrow_blue_back.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        @media (max-width:650px) {
            display: none !important;
        }
    }

    .slick-next {
        position: absolute;
        top: 50%;
        right: -50px;
        background-image: url('../../../assets/images/arrow_blue.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;

        &:before {
            content: "";
        }

        &:hover, &:focus {
            background-image: url('../../../assets/images/arrow_blue.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        @media (max-width:650px) {
            display: none !important;
        }
    }

}