@import 'partials/variables.scss';

.programmes-list {

    .box {
        height: 350px;
        background: white;
        position: relative;
        animation: moveUp 0.3s ease-in-out;
    }

    @keyframes moveUp {
        0%{
            opacity: 0;
            top: 25px;
        }
        100%{
            opacity: 1;
            top: 0;
        }
    }

    .call-to-action.bg-blue {
        background: $dark-blue;
    }

    .call-to-action.bg-orange {
        background: $orange;
    }

    .call-to-action {
        color: white;
        text-align: center;
        
        img {
            margin: auto;
            display: block;
            height: 60px;
            margin-top: 20px;
        }
        p {
            text-transform: uppercase;
            font-weight: 600;
        }
        a {
            background: white;
            padding: 6px 22px;
            color: $dark;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                color: white;
                background: $dark;
                text-decoration: none;
            }
        }
    }

    .thumbnail-image {
        height: 160px;
        transform: scale(1);
        -webkit-transform: scale(1);
        transition: transform 0.4s;
        -webkit-transition: transform 0.4s;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transition: transform 0.4s;
            -webkit-transition: transform 0.4s;
            cursor: pointer;
        }
    }

    .pos-bottom{
        position: absolute;
        bottom: 5px;
    }

    #response-programmes {
        min-height: 550px;
    }

    .form-programmes {
        color: white;

        .title {
            font-size: 38px;
            line-height: 37px;
            font-weight: 500;
            margin-bottom: 20px;
            
            p {
                margin: 3px;
            }
        }
        .description {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 25px;
        }

        select {
            width: 100%;
            margin: 4px 0;
            height: 38px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-radius: 2px;
            padding-left: 12px;
            background-color: white;
            background-image: url(../../images/select-arrow.png);
            background-position-x: 95%;   
            background-position-y: center;         
            background-size: 20px 12px;
            background-repeat: no-repeat;

            @media (min-width:992px){
                width: 80%;
            }

            &:focus {
                outline: none;
            }
        }

        .submit-search{
            background: $dark_blue;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            border: none;
            padding: 7px 18px;
            margin-top: 20px;
            display: block;

            img {
                height: 13px;
                margin-left: 10px;
                margin-top: -4px;
            }

            &:hover {
                background: $blue;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .filters {
        z-index: 2;
        position: relative;

        .item {
            background: white;
            width: 100%;
            margin-right: 10px;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 10px;
            cursor: pointer;

            @media (min-width:576px){
                width: 170px;
            }

            @media (min-width: 992px){
                margin-left: 10px;
            }

            .checkbox {
                border: 2px solid $dark-blue;
                border-radius: 4px;
                height: 22px;
                width: 22px;
                display: inline-block;
                float: right;
    
                .fas {
                    font-size: 12px;
                    display: none;
                    line-height: 20px;
                    text-align: center;
                    color: $dark-blue;
                }
            }
        }
        
        .item-black {
            background: $dark;
            width: 100%;
            border-radius: 4px;
            padding: 10px;
            color: white;
            margin-bottom: 10px;
            cursor: pointer;

            @media (min-width:576px){
                width: 170px;
                margin-left: 10px;
            }

            .open-filters {
                height: 22px;
                width: 22px;
                display: inline-block;
                float: right;

                .fas {
                    font-size: 30px;
                    display: block;
                    line-height: 20px;
                    margin-right: 10px;
                    text-align: center;
                    color: white;
                }

            }
        }

        .close-filters {
            height: 44px;
            margin-left: 10px;
            display: none;
            cursor: pointer;
        }
    }


    .filters-window {
        //background: $ligh_gray;
        background: rgba(240, 240, 240, 1);
        z-index: 1;
        position: absolute; 
        top: 0; 
        width:100%; 
        //height:100%; 
        display: none;
        //opacity: 0.95;

        .tick {
            position: relative;
            padding-left:40px;
            height: 34px;
            margin-top: 0px !important;
            label {
                padding-left: 0px !important;
                padding-top: 0px !important;
                margin-bottom: 0px !important;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 15px;
                &:after {
                    content:"";
                    background: transparent;
                    width:20px;
                    height:20px;
                    display:block;
                    position: absolute;
                    left:0;
                    top:0;
                    z-index: 0;
                    border: 2px solid $gray;
                    border-radius: 4px;
                }
                &:before {
                    content:"";
                    display:block;
                    position: absolute;
                    width: 5px;
                    height: 13px;
                    border: solid $gray;
                    border-width: 0 2px 2px 0;
                    left: 8px;
                    top: 4px;
                    transform: rotate(45deg);
                    opacity:0;
                    z-index:1;
                    transition:all 100ms;
                }
            }
        }

        input[type="checkbox"] {
            opacity:0;
            outline:none;
            z-index:100;
            width:20px;
            height:20px;
            top:0;
            left:0;
            position: absolute;
            appearance: none;
            cursor: pointer;
            + label {
                cursor: pointer;
            }
            &:checked + label {
                &:before {
                    opacity:1;
                    top: 3px;
                    border-color: white;
                }
                &:after {
                    background: $blue;
                    border-color: $blue;
                }
            }
        }


        .filter-btn {
            background: $dark-blue;
            color: white;
            display: block;
            float: right;
            border: none;
            padding: 8px 22px;
            margin-top: 20px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;

            &:focus {
                outline: none;
            }

            &:hover {
                background: $blue;
            }

            img {
                height: 13px;
                margin-left: 10px;
                margin-top: -4px;
            }
        }
    }
}

