@import 'partials/variables.scss';

.single-programme {

    a {
        color: $orange;
    }

    .heading {
        font-size: 35px;
        font-weight: 600;
    }

    .subheading {
        font-size: 20px;
        color: $orange;
        font-weight: 500;
    }

    .badges {

        .theme {
            width: 75px;

            img {
                display: block;
                margin: 0 auto;
            }

            p {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    .programmes-top {

        h2 {
            margin: 0;
            color: white;
           font-weight: 500;
           font-size: 38px;
        }

        .btn-blue img{
            height: 12px;
            margin-right: 10px;
            margin-top: -1px;
        }
    }

    .programme-banner {
        h3 {
            margin: 0;
            color: white;
            text-transform: uppercase;
        }
    }
    .label {
        color: $accent_orange;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .quote {

        .text {
            margin-bottom: 8px;
        }

        .author {
            font-size: 13px;
            font-weight: 600;;
            margin-bottom: 25px;
        }
    }

    .sector .title{
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;;
    }


    .key-sectors {

        p {
            margin-bottom: 0;
            margin-right: 25px;
        }

        img {
            height: 55px;
            margin-right: 3px;
        }
    }

    .call-to-action {
        color: white;
        font-weight: 500;

        img {
            height: 50px;
        }
    }
}
