@import 'variables.scss';

.themes {
    color: white;

    .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .desc {
        font-size: 17px;
    }
    
    .box {
        p {
            font-size: 11px;
            font-weight: 500;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        img {
            margin: auto;
            display: block;
            transform: scale(1);
            transition: transform 0.35s;
        }

        &:hover {
            background: $orange !important;
            cursor: pointer;

            img {
                transform: scale(1.15);
                transition: transform 0.35s ease;
            }
        }
    }
    
}