$black: #2B2B2B;
$dark: #3F3E3D;
$gray: #707070;
$blue: #5DA0B4;
$dark_blue: #548095;
$ligh_gray: #F0F0F0;
$ligh_gray_2: #EDF0F3;
$gray_blue: #DEE3E8;
$orange: #DC8821;
$dark_orange: #C88522;
$pastel_orange: #DEB676;
$accent_orange: #FDB03C;
